[defaults]
forks = 20
strategy = free
enable_task_debugger = True
stdout_callback = yaml

roles_path = ./roles:./.ansible/roles
collections_path = ./.ansible/collections

[ssh_connection]
pipelining = True
